@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Subrayada:wght@400;700&family=Prompt:ital,wght@0,200;0,500;0,700;0,900;1,500&family=Questrial&family=Spartan:wght@400;500;700&display=swap');

@font-face{
    font-family: 'masdagBold';
    src: url(./fonts/FontsFree-Net-Mesdag-Bold.ttf);
}

@font-face {
    font-family: 'theNotes';
    src: url(./fonts/theNotes.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
/* colores temporada verano*/
:root {
    --text-color: #000000;
    --basic-color: #fff;
    --main-color: #a3d5ee;
    --primary-color: #f0e0f1;
    --second-color: #d3d48d;
}


/*encabezado*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    background-color: #fff;
}

/*logo Hm*/
header .logo {
    font-family: 'masdagBold';
    font-size: 25px;
    max-width: 80px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.logo span {
    font-size: 15px;
    font-weight: 400;
    margin-top: -20px;   
}

.logo h1{
    font-size: 35px;
    font-weight: 900;
}


/* barra menu hambuerguesa a partir de 881px*/
.navbar {
    position: relative;
    display: flex;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.navbar li, ul{
    font-family: 'Questrial';
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--primary-color);
}




/*home*/

.home{
    width: 100%;
    min-height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--main-color);

}

/* Elementos home */

.element{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/elementos/elementosgraficos/verdeylila/13.png);
    clip-path: circle(600px at right 800px);
    z-index: 1;
}


.home-text{
    z-index: 5;
}
.home-text h1 {
    font-size: 50px;
    font-family: 'masdagBold';
    letter-spacing: 2px;
    color: var(--primary-color);
}

.home-text p {
    font-family: 'Questrial';
    max-width: 940px;
    font-size: 15px;
    margin: 1px 2px;
    letter-spacing: 1px;
}

.home-text a{
    display: flex;
    width: 10em;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: var(--text-color);
    color: var(--primary-color);
    border-radius: 40px;
    font-family: 'Questrial';
    letter-spacing: 1px;
    text-decoration: none;
} 

.home-text a:hover{
    font-weight: 900;
    color: var(--text-color);
    background: var(--primary-color) ;
}

.home-text span {
    color: var(--text-color);
}

/* slider de cellphone */

.containerSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 450px;
    z-index: 3;
}  

.sliderCellphoneMedia{
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 2;
}

.sliderCellphoneMedia img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15em;
}

.sliderCell{
    position: absolute;
}

/* cambio slider home */

.menuSlide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 34em;
}

.menuSlide .slide {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
} 

.menuSlide .slide.active{
    background: var(--text-color);
}

.menuSlide a{
    margin: 0 2px;
    width: 25px;
    height: 5px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.50);
} 


/* iconos redes sociales */
.socialmedia{
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialmedia a{
    display: flex;
    margin: 25px 0;
    transform: scale(1.5);
    color: var(--text-color);   
    z-index: 7;
}

.socialmedia a:hover{
    color: var(--primary-color);
}

/* sección about */

.about{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 150px;
    
}

/* Elementos about */

 .element1{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(./img/elementos/elementosgraficos/verdeylila/14.png);
    clip-path: circle(600px at right 800px);
    
} 

.elementwave{
    width: 100%;
    height: 100%;
    border: solid 1px;
    z-index: -5;
}

.about-text h2 {
    font-size: 50px;
    font-family: 'masdagBold';
    letter-spacing: 2px;
}

.about-text p {
    font-family: 'Questrial';
    max-width: 940px;
    font-size: 15px;
    margin: 1px 2px;
    letter-spacing: 1px;
}

.about-text a{
    display: flex;
    width: 10em;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: var(--text-color);
    color: var(--primary-color);
    border-radius: 40px;
    font-family: 'Questrial';
    letter-spacing: 1px;
    text-decoration: none;
} 

.about-text a:hover{
    font-weight: 900;
    color: var(--text-color);
    background: var(--primary-color) ;
}

.about-text span {
    color: var(--text-color);
}

/* modelo primaria */
.modelo{
    width: 300px;
    margin-top: 89px;
}
.imgbox{
    z-index: 45;
}

/* mini modelos */
.minmodel{
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 65;
}

.minmodel li{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.minmodel li:hover{
    transform: translatey(-15px);
}

.minmodel li img{
    width: 45px;
}


/* Responsive */

@media (max-width: 881px) {

/*encabezado*/
header{
    padding: 10px 45px;
} 

/*Logo*/
.logo h1{
    font-size: 35px;
    max-width: 900px;
}

.logo span {
    font-size: 15px;
    margin-top: -20px;   
}

header .logo{
    max-width: 60px;
}

/* section home*/
.home {
   flex-direction: column;  
} 

.home-text{
    position: relative;
    min-width: 100%;  
} 

.home-text h1{
    margin-top: 100px; 
    font-size: 40px;
    max-width: 500px;
}

.home-text p{
    margin-bottom: 15px;
    max-width: 500px;
}

.element{
    height: 150.4vh;
    clip-path: circle(500px at right 900px);
} 
/* cellphone */

.sliderCellphoneMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -9;
} 

.sliderCellphoneMedia img{
    right: auto;
}

.menuSlide{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 18em;
    top: 50%;
    transform: translateY(50%);
    
}

 .menuSlide .slide {
    display: flex;
    width: 5px;
    height: 25px;
    margin: 5px;
    position: relative;
    cursor: pointer;
} 

/* about */
.about {
    flex-direction: column; 
} 

.about-text{
    z-index: 8;
}

.about-text h2{
   margin-top: 100px; 
    font-size: 40px;
    max-width: 500px;
}

.about-text p{
    margin-bottom: 15px;
    max-width: 500px;
}
.element1{

    clip-path: circle(109px);
} 
/* modelo */
.imgbox .modelo{
    margin: 25px;
} 

.modelo{
    width: 200px;
}

/* min models */

.minmodel{
    left: 50%;
    bottom: 23px;
    transform: translateX(-50%);
}


.minmodel li:hover{
    transform: translatey(-15px);
}

.minmodel li img{
    width: 40px;
}

/* icons social media */
.socialmedia{
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* menu hamburguesa */
#menu-icon {
    font-size: 2rem;
    cursor: pointer; 
    display: initial;
}


header .navbar {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 4px 4px rgb(0 0 0 /10%);
    transition: ease;
    text-align: center;
  }

.navbar a {
    padding: 45px;
    display: block;
}
  
.navbar.active {
    top: 100%;
}

.navbar a:hover {
    color: #fff;
    background: var(--text-color);
} 
} 

@media (max-width: 360px) {

    /*encabezado*/
    header{
        padding: 10px 45px;
    } 
    
    /*Logo*/
    .logo h1{
        font-size: 35px;
        max-width: 900px;
    }
    
    .logo span {
        font-size: 15px;
        margin-top: -20px;   
    }
    
    header .logo{
        max-width: 30px;
    }
}